<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
</head>
<body>
    <h1>Kayıt Ol</h1>
    <form action="/register" method="post">
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Kayıt Ol</button>
    </form>
    <h1>Kayıtlı Kullanıcılar</h1>
    <ul>
        {% for user in users %}
            <li>{{ user[1] }} (ID: {{ user[0] }})</li>
        {% endfor %}
    </ul>
</body>
</html>
